* {
  font-family: 'IBM Plex Mono', monospace;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 1.4rem;
}

section {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 2rem));
  gap: 4rem;
  justify-content: space-evenly;
}

.content {
  padding: 3.5rem;
  max-width: 1200px;
  margin: auto;
}

.hero {
  min-height: calc(100vh - 60px - 3.5rem);
  display: flex;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
  align-self: center;
}

.hero-illustration {
  flex: 1;
  align-self: center;
  min-width: 480px;
}

.hero-content h1 {
  font-size: 2.2rem;
  color: #4052FF;
}

.hero-content p {
  font-size: 2rem;
  line-height: 3rem;
  opacity: 0.5;
}

.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  gap: 1rem;
  justify-content: space-evenly;
}

.craftsmanship p {
  font-size: 1.2rem;
  opacity: 0.5;
  line-height: 2rem;
}

.craftsmanship ol {
  font-size: 1.2rem;
  opacity: 0.5;
  line-height: 2rem;
  padding-left: 4rem;
}

.button {
  display: inline-block;
  background-color: #4052FF;
  color: white;
  padding: 1rem;
  font-weight: bold;
  margin-top: 3rem;
  font-size: 1rem;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.weather {
  text-align: right;
}

@media all and (max-width: 900px) {
  section { grid-template-columns: auto; }
  .hero-illustration { display: none; }
  .content {
    padding: 2rem;
    max-width: 600px;
  }
  .weather {
    padding: 1rem 0;
    width: 100%;
    text-align: left;
  }
}
